
*{
    padding:0;
    margin:0;
    text-decoration: none;
    color: #353333;
    font-family: 'lato', sans-serif;
    flex-wrap: wrap;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 120px;
}

/*-------------------------HEADER------------------*/

header {
    display: flex;
    position:fixed;
    width:100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    box-shadow: 0 0 40px #00000022;
    
}

header nav ul {
    display:flex;
    list-style:none;
}

header nav ul li {
    font-size: 20px;
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: 300;
}

header nav ul li a:hover {
    color:#05a6fb;
}

header nav ul li a.active{
    color:#05a6fb;
}

header nav ul li .submenu{
    position: absolute;
    display: block;
    padding-top: 49px;
    transition: 0.3;
    opacity: 0;
    visibility: hidden;
}

header nav ul li .submenu li{
    margin-left: 0;
    position:relative;
}

header nav ul li:hover >.submenu{
    opacity: 1;
    visibility: visible;
}


header nav ul li .submenu li a{
    background-color: white;
    padding: 20px;
    display: block;
    border-bottom: 1px solid #eee;
}

header nav ul li .submenu li .submenu{
    right:100%;
    padding-top: 0;
    top:0;
}

/*-------------------------FARBEN------------------*/

.grau {
    background-color: #fafafa;
}

.blau{
    background-color:#05a6fb;
}


.blau h3, .blau p, .blau a{
    color:white;
    border-color: white;
}

.blau a:hover{
    opacity: 0.7;
}


.blau .button:hover{
    background-color: white;
    color:#00a9ff;
    opacity: 1;
}


/*-------------------------ALLGEMEIN------------------*/

h1 {
    font-size: 60px;
    text-transform: uppercase;
    color:#05a6fb
}

h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
    
}

h3{
    font-size: 35px;
    text-transform: uppercase;
    color:#05a6fb;
    font-weight: 300;
    margin-bottom: 20px;
}

h4{
    margin-bottom:20px;
}


main ul li{
    margin-left: 40px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.button{
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #353333;
    padding: 20px 40px;
    display:inline-block;
    transition: 0.3;
    color:#353333
}

.second {
    color:#353333
}

.button:hover{
    background-color: #05a6fb;
    color:white;
    border-color: #05a6fb;
}

main img{
    width:100%;
    display: block;
}

main {
    overflow: hidden;
    padding-top: 125px;
}

p{
    margin-bottom: 20px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 300;
}

p:last-child{
    margin-bottom: 0px;
}

a:hover{
    color:#00a9ff
}

/*-------------------------MAIN------------------*/
.center {
    text-align:center;
}

img + h3, img + h4{
    margin-top:  30px;
}



.row{
    display:flex;
    justify-content: center;
}

.row + .row {
    margin-top: 60px;
}


.abstand{
padding: 100px 0;
}


.medium {
    margin: 0 25px;
}

.full {
    margin: 0 -15px;
}

.small{
    max-width: 1200px;
    margin:auto;
    padding: 0 25px;
}

.col-12{
    width: 100%;
    padding: 0 15px;
}

.col-6{
    width:50%;
    padding: 0 15px;
}

.col-4{
    width:33.33%;
    padding: 0 15px;
}

.col-3{
    width:25%;
    padding:0 15px;
}

.box {
    display:flex;
    align-items: center;
    padding: 0 10%;
}
/*-------------------------TITELBILD------------------*/

#titelbild {
padding:200px 0;
background-repeat: no-repeat;
background-size: cover;
}

.tb-1 {
    background-image: url(images/home-titelbild.jpg);
}
/*-------------------------KONTAKT------------------*/

form{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 40px #00000022;
    padding:40px;
    border-radius: 40px;
}

form input{
    width:48%;
    margin-bottom: 4%;
    font-size: 19px;
    padding:20px;
    font-weight:300;
    border: 1px solid #eee;
    background-color: #fcfcfc;
    
}


form textarea{
    width:100%;
    margin-bottom: 4%;
    font-size: 19px;
    padding:20px;
    font-weight:300;
    border: 1px solid #eee;
    background-color: #fcfcfc;

}

form .button{
    background-color: #00A9FF;
    color: white;
    border-color: #00A9FF;
    text-transform: none;
}




/*-------------------------NAVIGATION------------------*/


footer nav ul li{
    list-style:none;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
    text-transform: uppercase;
}

footer .rechtliches nav ul li{
    padding: 0 15px;
    font-size: 15px;
    margin-bottom: 0;
}

footer .rechtliches nav ul{
    display:flex;
    justify-content: center;
    padding: 15px 0;
}

/*-------------------------SCROLL------------------*/
#scroll-to-top{
    background-color: white;
    position:fixed;
    right:40px;
    bottom: 40px;
    padding:15px 20px;
    font-size: 40px;
    box-shadow: 0 0 40px #00000022;
    transition: 0.35s;
    color: #007ab8;
}

#scroll-to-top:hover{
    transform: scale(1.1);
    color: #00a9ff;
}



/*-------------------------RESPONSIVE------------------*/

@media (max-width:1200px){

    /*-------------------------ALLGEMEIN------------------*/

h1{
    font-size:30px;
    }

h2{
        font-size:20px;
    }
/*-------------------------ANGEBOT------------------*/

#angebotsbereich .col-6 {
    width:100%;
}

#angebotsbereich .box {
    padding:10%;
}

.col-3 {
    width:50%;
    
}

.col-3:nth-child(1), .col-3:nth-child(2){
    margin-bottom: 40px;
}

}

@media (max-width:1000px){

/*-------------------------GRID SYSTEM------------------*/
.col-4{
    width:50%;
}


.col-4:nth-child(1), .col-4:nth-child(2){
    margin-bottom: 40px;
}

}




@media (max-width:900px) {
/*-------------------------HEADER------------------*/

header nav ul li{
    margin-left:0;
    margin-right:20px;
}

header nav {
 margin-top: 20px;
}


/*-------------------------GRID SYSTEM------------------*/

.col-6{
    width:100%;
}

.col-6:nth-child(1){
    margin-bottom: 60px;
}

/*-------------------------KONTAKT------------------*/
form input{
    width:100%;
}

/*-------------------------TITELBILD------------------*/

.tb-1{
    background-position-x: -62px;
}

}

@media (max-width:600px) {

    /*-------------------------GRID SYSTEM------------------*/

    .col-3{
        width:100%;
    }
    .col-3:nth-child(3){
        margin-bottom: 40px;
    }

    .col-4{
        width:100%;
    }
            /*-------------------------FORMULAR------------------*/
form input{
    width:48%;

}
}